:root {
  --secondary-gray: #2a3035;
  --second-title:#aeb5ba;
  --link-color:#2c5b8d;
  --primary-color: #0D1322;
  --secondary-color: #12192ce3;
  --third-color: #1B2337;
}

@font-face {
  font-family: 'Avenir Medium';
  src: url('/fonts/Avenir-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Avenir Bold';
  src: url('/fonts/AvenirNext-Bold.ttf') format('truetype');
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--primary-color);
  background-color: #f4f4f4;
  font-family: 'Avenir Medium', sans-serif;
  
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


.control::placeholder{
  color: #798B9F;
  font-size: .8rem;
}

.control:focus {
  /* border-color: #4CAF50;  */
  background-color: #273963;
  color: #bcbcbc; /* Cambia el color del texto */
  outline: none; /* Quita el borde predeterminado */
}

.btn{
  margin: 5px;
  border-radius: 20px;
  height: 31px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .6rem;
  letter-spacing: 2px;
  color: white;
  width: 70%;
}

.btn:hover{
  background-color: #1b263e;
  border-color: #79a0c3;
}

.btn:active{
  background-color: #1b263e;
  border-color: #79a0c3;
}

.create-btn{ /* usado en 2 componentes, CommentForm y LoginForm */
  border: 2px solid #70CDEE;
  font-family: 'Avenir Bold';
  box-shadow: 
  0px 0px 5px 2px #1d346f,
  inset 0px 0px 5px 2px #1d346f;
}

/* ***** NOTIFICATION ***** */

.notification {
  background-color: #9fe76f37;
  color: #138b3f;
  border: 2px solid #138b3f;
  width: 100%;
  font-size: 1.2rem;
  border-radius: 2px;
}

/* ***** ERROR MESSAGE ***** */

.error {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0px;
  background-color: #e76f7b2b;
  color: #cc1b1b;
  border: 2px solid rgb(128, 0, 0);
  width: 100%;
  font-size: 1.1rem;
  font-family: 'Avenir Medium';
  border-radius: 2px;
  z-index: 2;
}

/* ***** TOGGLABLE ***** */
.separation-new-blog{
  margin-bottom: 20px;
}


/* ***** USER BLOGS ***** */

.custom-list {
  list-style: none; /* Elimina los puntos predeterminados */
  padding-left: 0; /* Elimina el padding predeterminado de las listas */
  margin-left: 10px;
}

.custom-list li {
  position: relative; /* Necesario para posicionar el pseudo-elemento */
  padding-left: 20px; /* Espacio para el asterisco */
}

.custom-list li::before {
  content: '*'; /* Añade un asterisco antes de cada ítem */
  position: absolute; /* Posiciona el asterisco */
  left: 0; /* Alinea a la izquierda */
  color: #7d86cd; /* Color del asterisco */
}

.display-blogs{
  margin-left: 20px;
}





