/* ******************* LOGIN SCREEN ******************* */

h6{
    color: white;
    line-height: 1.6;
    font-size: .9rem;
    letter-spacing: 1.3px;
}

.login-screen{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: var(--primary-color);
    /* flex-direction: column; */
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    background-image: url('../public/images/flor.webp');
    background-size: 600px 500px; /* Esto hace que la imagen cubra todo el fondo */
    background-repeat: no-repeat; /* Esto evita que la imagen se repita */
    background-position: -30px 245px;
}


.title-subtitle{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-bottom: 20%;
    margin-right: 10%;
  }
  
  .title-subtitle h2{
    font-size: 5rem;
    font-family: 'Avenir Bold';
  }

/* ******************* LOGIN FORM ******************* */

.login-form{
    background-color: var(--secondary-color);
    border-radius: 29px;
    width: 425px;
    height: 425px;
    /* min-height: 100%; */
    padding: 40px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.label-form{
    letter-spacing: 2px;
    font-size: 1rem;
  }

  .control{
    background-color: var(--third-color);
    border: none;
    border-radius: 10px;
    height: 28px;
    color: #798B9F;
    font-size: .8rem;
    margin-bottom: 30px;
  }

  .two-btns{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
  }

  .login-btn{
    border: none;
    background-color: #17223B;
  }

