/* ******************* DISPLAY USERS ******************* */

  
  .bg-blogs h1{
    padding: 10px;
    font-size: 2.5rem;
    letter-spacing: 1px;
  }

  .custom-table {
    border-collapse: separate; /* Importante para aplicar el border-radius */
    border-spacing: 0; /* Quita el espacio entre celdas */
    width: 40%;
    border: 1px solid #0D1323; /* Mantén el estilo de borde de Bootstrap */
    border-radius: 10px; /* Aquí se aplica el border-radius a la tabla */
  }
  
  .custom-table tbody tr:first-child td:first-child {
    border-top-left-radius: 10px; /* Redondeo de la esquina superior izquierda */
  }
  
  .custom-table tbody tr:first-child td:last-child {
    border-top-right-radius: 10px; /* Redondeo de la esquina superior derecha */
  }
  
  .custom-table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 10px; /* Redondeo de la esquina inferior izquierda */
  }
  
  .custom-table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 10px; /* Redondeo de la esquina inferior derecha */
  }
  
  td {
    text-align: center;
    padding: 5px;
    background-color: #202A43;
  }

  table h4{
    font-size: 1rem;
  }
  
  
  .link-table{
    color: #A9DFFF;
    font-size: .9rem;
    letter-spacing: 1px;
  }

/* ******************* NAVIGATION MENU ******************* */

.logo{
  width: 25px;
  margin-bottom: 6px;
  height: 25px;
}

.logout{
  width: 16px;
  height: 16px;
  margin-left: 5px;
}

nav {
    margin-bottom: 1em;
  }  
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 1em;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #000;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }

  .navbar.custom-navbar>.container {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    width: 100%;
}

  

.custom-navbar {
  display: flex;
    color: red;
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    width: 100%; /* Asegúrate de que ocupe todo el ancho disponible */
    /* justify-content: space-between; Change to space-between */
    justify-content: center;
  }

  .custom-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .nav-title{
    font-family: 'Avenir Bold';
    font-size: 1.3rem;
    letter-spacing: .5px;
    margin: 0 0 0 5px;
    /* margin: 10px 15%;
    margin-bottom: 25px; */
  }

  .me-auto{
    /* margin: 10px 50px 10px 10px; */

    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: .8rem;
    letter-spacing: 1px;
    width: 100%; 
    /* margin-left: auto;
    margin-right: 10px;  */
  }

  .logged-in{
    display: flex;
    align-items: center;
  }

  .sesion{
    display: flex;
    justify-content: center;
    margin: 0;
  }

  .btn-logged{
    border: none;
    height: 30px;
    opacity: .8;
    width: 110px;
    display: flex;
    justify-content: center;
    /* margin: auto; */
    align-items: center;
    border-radius: 10px;
    font-size: .8rem;
    /* padding: 5px; */
    font-family: 'Avenir Medium';
    background-color: #1c2a4f;
    color: #dfdfdf;
  }
  
  .btn-logged:hover{
    background-color: #213258;
    border-color: #79a0c3;
    text-decoration: none;
  }

/* ******************* USER ******************* */

/*** Nada :P ***/
