/* ******************* BLOG ******************* */

.specific-blog{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .blog-content{
      background-color: #172138;
      padding: 20px;
      border-radius: 20px;
      width: 70%;
      height: 90%;
      display: grid;
      grid-template-columns: 70% 30%;
  }

  .cite-blog{
    color: white;
    margin: 23px 0;
    letter-spacing: .2px;
    font-size: 1.1rem;
    width: 75%;

    word-break: break-word; /* Permite que las palabras largas se dividan */
    /* Opcional para evitar que el contenido salga del contenedor */
    overflow-wrap: break-word;
  }

  .description{
    color: #A9DFFF;
    font-size: .9rem;
    /* width: 90%; */
    width: 85%;
    line-height: 1.7;

    word-break: break-word; /* Permite que las palabras largas se dividan */
    /* Opcional para evitar que el contenido salga del contenedor */
    overflow-wrap: break-word;
  }


  .col-blog1{
    display: flex;
    flex-direction: column;
    padding: 40px 60px 60px 70px;

    word-break: break-word; /* Permite que las palabras largas se dividan */
    /* Opcional para evitar que el contenido salga del contenedor */
    overflow-wrap: break-word;
  } 

  .col-blog1 h2{
    font-size: 1.9rem;
    font-family: 'Avenir Bold';
    width: 84%;
    text-align: left;

    word-break: break-word; /* Permite que las palabras largas se dividan */
    /* Opcional para evitar que el contenido salga del contenedor */
    overflow-wrap: break-word;
  }

  .col-blog2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    margin-right: 10px;
  }

  .cerrar{
    margin-top: 10px;
    width: 32px;
    height: 32px;
    cursor: pointer;
  }

  .fijo {
    position: sticky; /* Mantener fijo dentro de su contenedor */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    bottom: 0; /* Fijo en la parte superior de su contenedor */
    right: 0;
    /* background-color: rgba(197, 134, 134, 0.173);  */
    padding: 10px; /* Espacio interno */
    z-index: 1000; /* Asegúrate de que esté sobre otros elementos */
    row-gap: 10px;
  }

  .content{
    /* position: sticky; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 12px;
  }

  ul {
    list-style: none; /* Ocultar el estilo por defecto del bullet */
  }
  
  ul li::before {
    content: ''; /* Crear el pseudo-elemento */
    display: inline-block; /* Hacer que sea visible */
    width: 15px; /* Ajusta el tamaño deseado de la imagen */
    height: 16px;
    background-image: url('../../../public/images/pencil-icon.png');
    background-size: cover; /* Asegura que la imagen ocupe todo el espacio */
    background-repeat: no-repeat;
    margin-right: 10px; /* Espacio entre la imagen y el texto */
  }
  
  li{
    display: flex;
    align-items: center;
    column-gap: 10px;
  }

  .likeAndComments{
    display: flex;
    column-gap: 15px;
  }

  .blog-icon{
    width: 5px;
    height: 45px;
    background-color: rgba(255, 0, 0, 0.134);
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
  }

  .blog-icon:hover{
    background-color: rgba(238, 65, 65, 0.162);
  }

  .bgc-comment{
    background-color: #1F2E49;
  }

  .bgc-comment:hover{
    background-color: #4766a05a;
  }

  .remove-btn {
    border-radius: 20px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .6rem;
    letter-spacing: 2px;
    color: white;
    
    border: none;
    background-color: #233B65;
    padding: 15px 15px 13px 15px;
    font-family:'Avenir Bold';
  }

  .remove-btn:hover {
    background-color: #324a74;
  }


  .custom-link {
    color: #007bff; /* Color del enlace */
    text-decoration: none; /* Eliminar subrayado */
    font-size: 16px; /* Tamaño de fuente */
    transition: color 0.3s ease; /* Efecto de transición para el color */
    letter-spacing: 1.5px;
  }
  
  .custom-link:hover {
    color: #0056b3; /* Color del enlace al pasar el ratón */
    text-decoration: underline; /* Subrayar al pasar el ratón */
  }

  .btn-like{
    font-size: .9rem;
    width: 90px;
  }
  
  .btn-like:hover{
    background-color: var(--secondary-color);
    color: white;
    border-color: #94c4f7;
  }
  
  .btn-remove{
    font-size: .9rem;
    width: 90px;
    border-color: #f15483;
    color: #f15483;
  }
  
  .btn-remove:hover{
    background-color: #1d224c;
    color: white;
    border-color: #2d3576;
  }

/* ******************* DISPLAY BLOG ******************* */

.question {
  position: absolute;
  top: 14%; /* Ajusta según lo necesites */
  left: 30%;
  transform: translateX(-50%);
  color: white; /* Cambia el color según tu diseño */
  text-align: center; /* Centra el texto */
  z-index: 1; /* Asegúrate de que esté por encima de la imagen */
  display: flex;
  flex-direction: column;
  width: 30%;
  justify-content: flex-start;
  text-align: left;
}

.question .text1 {
  text-align: left;
  font-size: 2rem;
  margin: 0;
}

.question .text2 {
  font-size: 3.6rem;
  text-align: left;
  font-family: 'Bebas';
}

.escribir-btn{ /* usado en 2 componentes, CommentForm y LoginForm */
  margin: 5px;
  border-radius: 20px;
  height: 31px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .6rem;
  letter-spacing: 2px;
  color: white;

  border: 2px solid #63CAFF;
  font-family: 'Avenir Bold';
  box-shadow: 
  0px 0px 5px 2px #1d346f,
  inset 0px 0px 5px 2px #1d346f;
  width: 70%;
}

.escribir-btn:hover{
  text-decoration: none;
  background-color: #41b1da1b;
  border-color: #79a0c3;

}

.blog {
    border: solid 1px var(--primary-color);
    width: auto;
    padding: 5px;
    margin: 19px;
    border-radius: 6px;
    background-color: #19233A;
  }

  .blog-body{
    display: flex;
    justify-content: space-between;
  }

  .blog p{
    color: white;
    font-size: 1.1rem;
  }

  .blog cite{
    color: #A8E0FF;
    font-family: 'Avenir Medium';
    font-style: normal;
    font-size: .8rem;
    letter-spacing: .7px;
  }

  .blog-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;

  }

  .read-btn {
    border-radius: 20px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .6rem;
    letter-spacing: 2px;
    color: white;
    
    width: 100%;
    border: none;
    background-color: #233B65;
    padding: 15px 15px 13px 15px;
    font-family:'Avenir Bold';
  }

  .read-btn:hover {
    background-color: #324a74;
  }

  .like{
    width: 24px;
    height: 22px;
    margin-top: 10px;
  }

  .like-in-blog{
    width: 21px;
    height: 19px;
    margin-top: 7px;
  }

  .enlace-externo{
    width: 24px;
    height: 22px;
    margin-bottom: 6px;
  }

  .content a{
    color: white;
  }

  .iconAndImage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .number-icon{
    margin: 0;
    padding-top: 4px;
    font-size: .7rem;
    color: white;
    font-family:'Avenir Bold';
  }

  .bg-blogs{
    background-color: var(--secondary-color);
    /* height: 100%; */
  }
  
  .bg-blogs h1{
    padding: 10px;
    font-size: 2.5rem;
    letter-spacing: 1px;
  }

  .cover{
    width: 100%;
    /* height: 55vh; */
    height: auto;
  }


/* ******************* COMMENT FORM ******************* */

  .new-control{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(106, 112, 127);
    margin-bottom: 0;
    width: 100%;
    border-radius: 7px;
    color: #798b9f;
    font-size: 0.8rem;

    color: #b6b6b6;
    letter-spacing: 1px;
    background-color: #202A42;
    height: 35px;
    margin: 10px 0;
  }

/* ******************* NEW BLOG FORM ******************* */

.newblog{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.form-new-blog{
    background-color: #172138;
    padding: 60px;
    border-radius: 20px;
    width: 70%;
    height: 80%;
    display: flex;
    flex-direction: column;
  }

  .grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px; /* Espacio opcional entre columnas */
  }

  .col-1{
    width: 90%;
    display: block;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .col-2{
    width: 100%;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .form-new-blog input{
    background-color: #202A41;
    width: 100%;
    height: 40px;
  }

  .p-blog-added{
    color: #93fbe6a0;
    font-size: 1rem;
    letter-spacing: 1.7px;
    padding: 0 0 0 8px;
    margin: 0;
  }

  .form-new-blog .input-description{
    height: 75%;
    width: 100%;
    padding: 10px; /* Añade un pequeño relleno para evitar que el texto toque los bordes */
    text-align: left;
    vertical-align: top; /* Alinea el texto desde arriba */
    resize: none;
    display: flex;
    justify-content: flex-start;
    background-color: #202A41;
  }

  .form-new-blog label{
    color: #b6b6b6;
    letter-spacing: 2px;
  }

  .btn-create{
    border: 2px solid #63CAFF;
    height: 30px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 1rem;
    padding: 5px;
    font-family: 'Avenir Medium';
    box-shadow: 
    0px 0px 3px 2px #1d346f,
    inset 0px 0px 3px 2px #1d346f;
    background-color: #0D1322;
    color: #dfdfdf;
  }

/* ******************* LOADING ******************* */

.spinner{
  width: 100%;
  padding-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
