h2 {
  color: rgb(2, 11, 30);
}

li {
  color: gray;
  padding-top: 3px;
  font-size: 15px;
}

.added-message {
  font-size: 2.5rem;
  background-color: greenyellow;
  color: green;
  border: 2px solid green;
}

.error-message {
  font-size: 2.5rem;
  background-color: rgba(255, 99, 47, 0.16);
  color: rgb(213, 46, 46);
  border: 2px solid rgb(203, 24, 24);
}
